.DS_Store
Thumbs.db
Desktop.ini
*.swp
*~
.vscode/
.idea/
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
*.exe
*.out
*.app
*.bin
*.o
*.a
*.so
*.dll
*.class
.vs/
.vsconfig/
bin/
obj/
*.gem
log/
tmp/
*.pyc
*.pyo
__pycache__/
*.pyd
*.sqlite
*.sqlite3
.env
.docker/
docker-compose.override.yml
venv/
env/
*.pdf
*.docx
*.xlsx
coverage/
*.log
.cache/
DerivedData/
*.xcodeproj/
*.xcworkspace/
Library/
Logs/
Temp/
Binaries/
DerivedDataCache/
Saved/
Intermediate/
